
@model  List<TinTuyenDung>
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<!-- ***** Cars Starts ***** -->
<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Featured <em>Jobs</em></h2>
                    <img src="assets/images/line-dec.png" alt="">
                    <p>Nunc urna sem, laoreet ut metus id, aliquet consequat magna. Sed viverra ipsum dolor, ultricies fermentum massa consequat eu.</p>
                </div>
            </div>
        </div>
        <div class="row">
          @foreach (var item in Model)
          {


            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="~/images/@item.Hinhanh" alt="">
                    </div>
                    <div class="down-content">
                        <span> <sup>$</sup>70 000 </span>

                        <h4>@item.Tieude</h4>

                        <p>Medical &nbsp;/&nbsp; Health Jobs</p>

                        <ul class="social-icons">
                            <li><a href="job-details.html">+ View More</a></li>
                        </ul>
                    </div>
                </div>
            </div>
          }
        </div>

        <br>

        <div class="main-button text-center">
            <a href="jobs.html">View Jobs</a>
        </div>
    </div>
</section>
<!-- ***** Cars Ends ***** -->
